# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# data files that are too large or don't need to be on GitHub
data_download/
WEOforecasts.xlsx
WEOforecasts_tidy.csv
oecd_data/oecd_cpi_quarter.csv
oecd_data/oecd_cpi_quarterly_annual.csv
oecd_data/oecd_gdp_quarterly_annual.csv
oecd_gdp_quarterly.csv


# manuscript files
manuscript/manuscript_files
manuscript.out
manuscript.aux
manuscript_R9.pdf

#presentation files
presentation/logos
presentation/figures_old


#old scores
scores/alt_scores

#meeting notes
meeting_notes/

#old simulation data
simulations/results
simulations/servercode


#old app files
test-macropi/data_loadsave.R

#poster
poster-plots

#old quantile forecasts (like the symmetry-corrected directional forecasts from an early stage of the analysis)
quantile_forecasts/old
scores/old
scores/bvarspecs/old
scripts/old
benchmarks/old


##things from miscellaneous folder
#old minor analysis files
miscellaneous/exploratory_scripts/old/
#too big
miscellaneous/simulations/results
#notes
miscellaneous/misc_notes/